Repository braincube-io/python-connector: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, black, flake8

mypy:
  name: Run mypy
  entry: poetry run mypy --ignore-missing-imports
  language: system
  verbose: true

black:
  name: Run black
  entry: poetry run black
  language: system
  verbose: true

flake8:
  name: Run linter
  entry: poetry run flake8 braincube_connector
  language: system
  verbose: true

Revert "Check documentation workflow"
  .github/workflows/update_doc.yml
Due: none

Fix our workflows (#22)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/update_doc.yml
Due: none

Fix URL construction
  CHANGELOG.md
  braincube_connector/client.py
  braincube_connector/tools.py
  tests/test_tools.py
  tests_integration/mocks.py
  tests_integration/test_integration.py
Due: mypy, black, flake8

Fix docstring
  braincube_connector/tools.py
Due: mypy, black, flake8

Remove try/except since we are in a client lib, the user can change its call easily
  braincube_connector/tools.py
Due: mypy, black, flake8

Adds used cases
  tests/test_tools.py
Due: mypy, black

Improve URL construction to manage base paths in configured base urls (#21)
  CHANGELOG.md
  braincube_connector/client.py
  braincube_connector/tools.py
  tests/test_tools.py
  tests_integration/mocks.py
  tests_integration/test_integration.py
Due: mypy, black, flake8

Deploying to gh-pages from @ braincube-io/python-connector@eb84ad9ff6c657011d924e2808b920a676c4cb18 🚀
  404.html
  CODE_OF_CONDUCT/index.html
  __pycache__/gen_api_doc_stubs.cpython-38-pytest-6.2.3.pyc
  api_reference/index.html
  contributing/index.html
  gen_api_doc_stubs/index.html
  index.html
  jupyter_presentation/usage_example/index.html
  reference/braincube_connector/bases/base/index.html
  reference/braincube_connector/bases/base_entity/index.html
  reference/braincube_connector/bases/resource_getter/index.html
  reference/braincube_connector/braincube/index.html
  reference/braincube_connector/client/index.html
  reference/braincube_connector/constants/index.html
  reference/braincube_connector/data/conditions/index.html
  reference/braincube_connector/data/data/index.html
  reference/braincube_connector/instances/index.html
  reference/braincube_connector/memory_base/memory_base/index.html
  reference/braincube_connector/memory_base/nested_resources/condition_container/index.html
  reference/braincube_connector/memory_base/nested_resources/datagroup/index.html
  reference/braincube_connector/memory_base/nested_resources/event/index.html
  reference/braincube_connector/memory_base/nested_resources/job/index.html
  reference/braincube_connector/memory_base/nested_resources/mb_child/index.html
  reference/braincube_connector/memory_base/nested_resources/rule/index.html
  reference/braincube_connector/memory_base/nested_resources/variable/index.html
  reference/braincube_connector/parameters/index.html
  reference/braincube_connector/tools/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Bump version
  pyproject.toml
Due: none

Deploying to gh-pages from @ braincube-io/python-connector@e2f10626a374795bfb7d0950c257ae9fbf38f41a 🚀
  sitemap.xml.gz
Due: none

Add pytest-watch to ease development
  CONTRIBUTING.md
  poetry.lock
  pyproject.toml
  pytest-watch.conf.ini
Due: none

Review pytest-watch config
  pytest-watch.conf.ini
Due: none

Add pytest-watch to ease development (#26)
  CONTRIBUTING.md
  poetry.lock
  pyproject.toml
  pytest-watch.conf.ini
Due: none

Fix #25, support placeholder in braincube_base_url configuration
  CHANGELOG.md
  braincube_connector/bases/base_entity.py
  braincube_connector/bases/resource_getter.py
  braincube_connector/braincube.py
  braincube_connector/client.py
  braincube_connector/constants.py
  braincube_connector/memory_base/nested_resources/mb_child.py
  braincube_connector/tools.py
  mypy.ini
  tests/mock.py
  tests/test_bases/test_base_entity.py
  tests/test_bases/test_resource_getter.py
  tests/test_braincube.py
  tests/test_memory_base/test_memory_base.py
  tests/test_tools.py
  tests_integration/mocks.py
  tests_integration/test_integration.py
Due: mypy, black, flake8

Use parent_entity instead of passing memory_base for MbChild
  braincube_connector/memory_base/memory_base.py
  braincube_connector/memory_base/nested_resources/mb_child.py
  tests/mock.py
  tests/test_memory_base/test_nested_resources/test_mb_child.py
Due: mypy, black, flake8

Fix #25, support placeholder in braincube_base_url configuration (#27)
  CHANGELOG.md
  braincube_connector/bases/base_entity.py
  braincube_connector/bases/resource_getter.py
  braincube_connector/braincube.py
  braincube_connector/client.py
  braincube_connector/constants.py
  braincube_connector/memory_base/memory_base.py
  braincube_connector/memory_base/nested_resources/mb_child.py
  braincube_connector/tools.py
  mypy.ini
  tests/mock.py
  tests/test_bases/test_base_entity.py
  tests/test_bases/test_resource_getter.py
  tests/test_braincube.py
  tests/test_memory_base/test_memory_base.py
  tests/test_memory_base/test_nested_resources/test_mb_child.py
  tests/test_tools.py
  tests_integration/mocks.py
  tests_integration/test_integration.py
Due: mypy, black, flake8

Fix #30, replace deprecated URL by the new one for the OAuth authentication flow
  CHANGELOG.md
  braincube_connector/client.py
  tests/test_client.py
Due: mypy, black, flake8

Fix #30, replace deprecated URL by the new one for the OAuth authentication flow (#31)
  CHANGELOG.md
  braincube_connector/client.py
  pyproject.toml
  tests/test_client.py
Due: mypy, black, flake8

Deploying to gh-pages from @ braincube-io/python-connector@e80281e08f7353f32063dd76e90409a3c5121b86 🚀
  404.html
  api_reference/index.html
  contributing/index.html
  gen_api_doc_stubs/index.html
  index.html
  jupyter_presentation/usage_example/index.html
  reference/braincube_connector/bases/base/index.html
  reference/braincube_connector/bases/base_entity/index.html
  reference/braincube_connector/bases/resource_getter/index.html
  reference/braincube_connector/braincube/index.html
  reference/braincube_connector/client/index.html
  reference/braincube_connector/constants/index.html
  reference/braincube_connector/data/conditions/index.html
  reference/braincube_connector/data/data/index.html
  reference/braincube_connector/instances/index.html
  reference/braincube_connector/memory_base/memory_base/index.html
  reference/braincube_connector/memory_base/nested_resources/condition_container/index.html
  reference/braincube_connector/memory_base/nested_resources/datagroup/index.html
  reference/braincube_connector/memory_base/nested_resources/event/index.html
  reference/braincube_connector/memory_base/nested_resources/job/index.html
  reference/braincube_connector/memory_base/nested_resources/mb_child/index.html
  reference/braincube_connector/memory_base/nested_resources/rule/index.html
  reference/braincube_connector/memory_base/nested_resources/variable/index.html
  reference/braincube_connector/parameters/index.html
  reference/braincube_connector/tools/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Fix #32, replace {braincube-name} placeholder by braincube's name in data module
  CHANGELOG.md
  braincube_connector/data/data.py
  braincube_connector/memory_base/memory_base.py
  pyproject.toml
  tests/test_data/test_data.py
  tests_integration/mocks.py
  tests_integration/test_integration.py
Due: mypy, black, flake8

Fix #32, replace {braincube-name} placeholder by braincube's name in data module (#33)
  CHANGELOG.md
  braincube_connector/data/data.py
  braincube_connector/memory_base/memory_base.py
  pyproject.toml
  tests/test_data/test_data.py
  tests_integration/mocks.py
  tests_integration/test_integration.py
Due: mypy, black, flake8

Deploying to gh-pages from @ braincube-io/python-connector@7e39dc778279eab89f9cc7d3a86e6acfe7bb2bf7 🚀
  404.html
  api_reference/index.html
  contributing/index.html
  gen_api_doc_stubs/index.html
  index.html
  jupyter_presentation/usage_example/index.html
  reference/braincube_connector/bases/base/index.html
  reference/braincube_connector/bases/base_entity/index.html
  reference/braincube_connector/bases/resource_getter/index.html
  reference/braincube_connector/braincube/index.html
  reference/braincube_connector/client/index.html
  reference/braincube_connector/constants/index.html
  reference/braincube_connector/data/conditions/index.html
  reference/braincube_connector/data/data/index.html
  reference/braincube_connector/instances/index.html
  reference/braincube_connector/memory_base/memory_base/index.html
  reference/braincube_connector/memory_base/nested_resources/condition_container/index.html
  reference/braincube_connector/memory_base/nested_resources/datagroup/index.html
  reference/braincube_connector/memory_base/nested_resources/event/index.html
  reference/braincube_connector/memory_base/nested_resources/job/index.html
  reference/braincube_connector/memory_base/nested_resources/mb_child/index.html
  reference/braincube_connector/memory_base/nested_resources/rule/index.html
  reference/braincube_connector/memory_base/nested_resources/variable/index.html
  reference/braincube_connector/parameters/index.html
  reference/braincube_connector/tools/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Adds CodeQL analysis
  .github/workflows/codeql-analysis.yml
Due: none

update urllib3
  poetry.lock
Due: none

update nltk
  poetry.lock
Due: none

update mkdocs
  poetry.lock
  pyproject.toml
Due: none

re-update urllib3
  poetry.lock
Due: none

poetry update
  poetry.lock
Due: none

resolving dependencie error
  poetry.lock
  pyproject.toml
Due: none

try to integrate create_study
  braincube_connector/memory_base/nested_resources/condition.py
  braincube_connector/memory_base/nested_resources/period.py
  braincube_connector/modelbuilder.py
Due: mypy, black, flake8

create ModelBuilder
  braincube_connector/modelbuilder.py
Due: mypy, black, flake8

add modelbuilder class
  braincube_connector/client.py
  braincube_connector/memory_base/nested_resources/condition_container.py
  braincube_connector/memory_base/nested_resources/event.py
  braincube_connector/memory_base/nested_resources/period.py
  braincube_connector/memory_base/nested_resources/variable.py
  braincube_connector/modelbuilder.py
  tests/test_modelbuilder.py
Due: mypy, black, flake8

try some tests
  braincube_connector/client.py
  braincube_connector/modelbuilder.py
  tests/test_modelbuilder.py
Due: mypy, black, flake8

run black
  braincube_connector/memory_base/nested_resources/period.py
  braincube_connector/modelbuilder.py
  tests/test_modelbuilder.py
Due: mypy, black, flake8

test don't work
  braincube_connector/modelbuilder.py
  tests/test_modelbuilder.py
Due: mypy, black, flake8

create integration test
  tests_integration/mocks.py
  tests_integration/test_integration.py
Due: mypy, black

supress unused dependencies
  pyproject.toml
Due: none

Update dependencies (#45)
  poetry.lock
  pyproject.toml
Due: none

create files
  braincube_connector/memory_base/nested_resources/modelbuilder.py
  braincube_connector/memory_base/nested_resources/study.py
Due: mypy, black, flake8

Path conditions:
  mypy: any of: \.py$
  black: any of: \.py$
  flake8: any of: ^braincube_connector/ and \.py$
