Repository braincube-io/python-connector: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, black, flake8

mypy:
  name: Run mypy
  entry: poetry run mypy --ignore-missing-imports
  language: system
  verbose: true

black:
  name: Run black
  entry: poetry run black
  language: system
  verbose: true

flake8:
  name: Run linter
  entry: poetry run flake8 braincube_connector
  language: system
  verbose: true

create ModelBuilder & Study
  braincube_connector/client.py
  braincube_connector/memory_base/nested_resources/modelbuilder.py
  braincube_connector/memory_base/nested_resources/study.py
Due: mypy, black, flake8

1 test left
  braincube_connector/memory_base/memory_base.py
  tests_integration/mocks.py
Due: mypy, black, flake8

change get_data with name
  braincube_connector/memory_base/memory_base.py
  tests_integration/mocks.py
Due: mypy, black, flake8

fix pagination error
  tests_integration/mocks.py
Due: mypy, black

run black
  tests_integration/mocks.py
Due: mypy, black

run flake8
  braincube_connector/memory_base/memory_base.py
Due: mypy, black, flake8

resolve mypy issue
  braincube_connector/memory_base/memory_base.py
Due: mypy, black, flake8

update unit test get_data
  braincube_connector/memory_base/memory_base.py
  tests/test_memory_base/test_memory_base.py
Due: mypy, black, flake8

run black & lint
  braincube_connector/memory_base/memory_base.py
  tests/test_memory_base/test_memory_base.py
Due: mypy, black, flake8

Fix get_data slow when label_type == "name" (#55)
  CHANGELOG.md
  braincube_connector/memory_base/memory_base.py
  tests/test_memory_base/test_memory_base.py
  tests_integration/mocks.py
Due: mypy, black, flake8

Prepare version 2.5.2
  CHANGELOG.md
  pyproject.toml
Due: none

Deploying to gh-pages from @ braincube-io/python-connector@cd25dcf3be487a173abef758565014b6127f97b4 🚀
  404.html
  api_reference/index.html
  contributing/index.html
  gen_api_doc_stubs/index.html
  index.html
  jupyter_presentation/usage_example/index.html
  reference/braincube_connector/bases/base/index.html
  reference/braincube_connector/bases/base_entity/index.html
  reference/braincube_connector/bases/resource_getter/index.html
  reference/braincube_connector/braincube/index.html
  reference/braincube_connector/client/index.html
  reference/braincube_connector/constants/index.html
  reference/braincube_connector/data/conditions/index.html
  reference/braincube_connector/data/data/index.html
  reference/braincube_connector/instances/index.html
  reference/braincube_connector/memory_base/memory_base/index.html
  reference/braincube_connector/memory_base/nested_resources/condition_container/index.html
  reference/braincube_connector/memory_base/nested_resources/datagroup/index.html
  reference/braincube_connector/memory_base/nested_resources/event/index.html
  reference/braincube_connector/memory_base/nested_resources/job/index.html
  reference/braincube_connector/memory_base/nested_resources/mb_child/index.html
  reference/braincube_connector/memory_base/nested_resources/rule/index.html
  reference/braincube_connector/memory_base/nested_resources/variable/index.html
  reference/braincube_connector/parameters/index.html
  reference/braincube_connector/tools/index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Fix #57, use the published activity type to trigger release workflow
  .github/workflows/release.yml
Due: none

Create dependabot.yml
  .github/dependabot.yml
Due: none

Fix dependabot syntax
  .github/dependabot.yml
Due: none

Fix #57, use the published activity type to trigger release workflow (#58)
  .github/workflows/release.yml
Due: none

Update ChangeLog
  CHANGELOG.md
Due: none

Fix get_data slow when label_type == "name" (#55)
  braincube_connector/memory_base/memory_base.py
  tests/test_memory_base/test_memory_base.py
  tests_integration/mocks.py
Due: mypy, black, flake8

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Fix get_data slow when label_type == "name" (#55) (#56)
  CHANGELOG.md
  braincube_connector/memory_base/memory_base.py
  tests/test_memory_base/test_memory_base.py
  tests_integration/mocks.py
Due: mypy, black, flake8

Fix #57, use the published activity type to trigger release workflow (#59)
  .github/workflows/release.yml
Due: none

Bump dependencies and fix all style errors
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/update_doc.yml
  braincube_connector/bases/base_entity.py
  braincube_connector/bases/resource_getter.py
  braincube_connector/client.py
  braincube_connector/data/data.py
  braincube_connector/memory_base/nested_resources/job.py
  braincube_connector/tools.py
  mypy.ini
  poetry.lock
  pyproject.toml
Due: mypy, black, flake8

Bump python version for some actions
  .github/workflows/release.yml
  .github/workflows/update_doc.yml
Due: none

Stupid me, we are using 3.11.1
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/update_doc.yml
Due: none

python version and pandas
  CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: none

Update ci.yml to use python 3.10.0
  .github/workflows/ci.yml
Due: none

Update ci.yml
  .github/workflows/ci.yml
Due: none

upgrade python version and pandas version
  .github/workflows/ci.yml
  CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: none

add python version to CI
  .github/workflows/ci.yml
Due: none

add types-requests
  poetry.lock
  pyproject.toml
Due: none

update changelog
  CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: none

Reset responses to old version
  CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: none

Move to python 3.9 (#101)
  .flake8
  .github/workflows/ci.yml
  CHANGELOG.md
  braincube_connector/bases/base_entity.py
  braincube_connector/bases/resource_getter.py
  braincube_connector/braincube.py
  braincube_connector/client.py
  braincube_connector/custom_types.py
  braincube_connector/data/conditions.py
  braincube_connector/data/data.py
  braincube_connector/memory_base/memory_base.py
  braincube_connector/memory_base/nested_resources/datagroup.py
  braincube_connector/memory_base/nested_resources/job.py
  braincube_connector/memory_base/nested_resources/variable.py
  braincube_connector/tools.py
  poetry.lock
  pyproject.toml
  tests/mock.py
  tests/test_bases/test_base_entity.py
  tests/test_bases/test_resource_getter.py
  tests/test_client.py
  tests/test_memory_base/test_memory_base.py
  tests/test_memory_base/test_nested_resources/test_job.py
  tests_integration/mocks.py
Due: mypy, black, flake8

Update python version everywhere in the CI workflow
  .github/workflows/release.yml
  .github/workflows/update_doc.yml
Due: none

Update python version everywhere in the CI workflow (#102)
  .github/workflows/release.yml
  .github/workflows/update_doc.yml
Due: none

Adds a workflow to check deployment on master
  .github/workflows/release-staging.yml
Due: none

Improve resilience to error variables during data extraction
  CHANGELOG.md
  braincube_connector/data/data.py
Due: mypy, black, flake8

add warning
  braincube_connector/data/data.py
Due: mypy, black, flake8

import
  braincube_connector/data/data.py
Due: mypy, black, flake8

Path conditions:
  mypy: any of: \.py$
  black: any of: \.py$
  flake8: any of: ^braincube_connector/ and \.py$
